* {
    dark-primary-color: #0288D1;
    light-primary-color: B3E5FC;
    primary-color: #03A9F4;
    text-icons: #FFFFFF;
    accent-color: #00BCD4;
    primary-text: #212121;
    secondary-text: #757575;
    divider-color: #BDBDBD;
}

.root{
    -fx-background-color: primary-color;
}

.button {
    -fx-font: 13px "Arial";
    -fx-text-fill: primary-text;
    -fx-padding: 5;
    -fx-background-color: text-icons;
    -fx-effect: dropshadow(one-pass-box, black, 14, 0.0, 6, 0);
    -fx-background-radius: 8;
}

.label {
    -fx-font: 15px "Arial";
    -fx-text-fill: primary-text;
    -fx-text-alignment: center;
}

.choice-box {
    -fx-font: 15px "Arial";
    -fx-text-fill: secondary-text;
    -fx-text-alignment: center;
}